<% if(success && success.length){ %>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<!-- If there are no messages the req.flash(success) returns an empty array. -->
<!--  //here succes is an array so even when there is nothing in the array
if(success) is always going to be true because an empty array as success exits
with the an empty array so it is going to returned([]) so we also need to check
the array length -->
<% if(error && error.length){ %>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
