<footer>
  <div class="f-info">

    <div class="f-info-brand">&copy; LuxeStay private limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">terms</a>
      <a href="/">Company Details</a>
    </div>
    <div class="f-info-socials ">
      <i class="fa-solid fa-globe"></i>
      <i> <b>English IN</b></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
  </div>
</footer>
